<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <title>Crear Viaje</title>
</head>

<body>
  <%- include('../HeaderYFooterGeneral/header') %>
    <h1>Crear viaje</h1>
    <form action="/admin/viajes/crear" method="POST">
        <label for="origen">Origen:</label><br>
        <input type="text" id="origen" name ="origen" required />
        <% if (errores?.origen) { %>
        <p class="error"><%= errores.origen %></p> 
        <% } %>

        <label for="destino">Destino:</label><br>
        <input type="text" id="destino" name="destino" required />
        <% if (errores?.destino) { %>
        <p class="error"><%= errores.destino %></p>
        <% } %>

        <label for="fechaSalida">Fecha de Salida:</label><br>
        <input type="datetime-local" id="fechaSalida" name="fechaSalida" class="form-control" step="1" required />

        <label for="fechaLlegada">Fecha de Llegada:</label><br>
        <input type="datetime-local" id="fechaLlegada" name="fechaLlegada" class="form-control" step="1" required />

        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" required />
        <% if (errores?.precio) { %>
        <p class="error"><%= errores.precio %></p>
        <% } %>


      <label for="precio">Precio:</label><br>
      <input type="number" id="precio" name="precio" required />

      <label for="descripcion">Descripción:</label><br>
      <textarea id="descripcion" name="descripcion" required></textarea><br>

      <label for="file" class="form-label">Seleccionar archivo:</label>
      <input type="file" class="form-control" id="file" name="file" />


      <!-- <label for="imagen">URL/Nombre de Imagen:</label><br>
        <input type="text" id="imagen" name="imagen" required /><br>   -->

      <button type="submit" class="button">Crear Viaje</button>
      <a href="/admin/dashboard" class="button cancel-button">Cancelar</a>
    </form>
    <%- include('../HeaderYFooterGeneral/footer') %>

      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>