<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Admin</title>
        <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../HeaderYFooterGeneral/header') %>
<h1>Lista de Viajes</h1>
<div class="contenedor-viajes">
  <% viajes.forEach(vj => { %>
    <div class="viaje">
      <h3>Viaje: <%= vj.id %></h3>
      <p><strong>Origen:</strong> <%= vj.origen %></p>
      <p><strong>Destino:</strong> <%= vj.destino %></p>
      <p><strong>Fecha de Salida:</strong> <%= vj.fechaSalida %></p>
      <p><strong>Fecha de Llegada:</strong> <%= vj.fechaLlegada %></p>
      <p><strong>Precio:</strong> $<%= vj.precio %></p>
      <img src="<%= vj.imagen %>" alt="Imagen de <%= vj.origen %> a <%= vj.destino %>" style="max-width: 100%; height: auto; border-radius: 8px; margin-top: 10px;">

      <div class="acciones-item">
        <a href="/admin/viajes/modificar/<%= vj.id %>" class="button button-modificar">Modificar</a>
        <form action="/admin/viajes/eliminar/<%= vj.id %>" method="POST">
            <button type="submit" class="button button-eliminar" onclick="return confirm('¿Estás seguro de que quieres eliminar este viaje?');">Eliminar</button>
        </form>
      </div>
    </div>
  <% }) %>  
</div>
<div class="acciones-globales">
   <a href="/admin/viajes/crear" class="button">Crear viaje</a>
</div>

<h1>Lista de Experiencias</h1>
<div class="contenedor-experiencias">
  <% experiencias.forEach(exp => { %>
    <div class="experiencia">
      <h3>Experiencia: <%= exp.id %></h3>
      <p><strong>Nombre:</strong> <%= exp.experiencia %></p>
      <p><strong>Fecha:</strong> <%= exp.fecha %></p>
      <p><strong>Calificación:</strong> <%= exp.calificacion %></p>
      <p><strong>Comentario:</strong> <%= exp.comentario %></p>
      <p><strong>Precio:</strong> $<%= exp.precio %></p>
      <div class="acciones-item">
          <a href="/admin/experiencias/modificar/<%= exp.id %>" class="button button-modificar">Modificar</a>
          <form action="/admin/experiencias/eliminar/<%= exp.id %>" method="POST">
              <button type="submit" class="button button-eliminar" onclick="return confirm('¿Estás seguro de que quieres eliminar esta experiencia?');">Eliminar</button>
          </form>
      </div>
    </div>
  <% }) %>
</div>
  <div class="acciones-globales">
    <a href="/admin/experiencias/crear" class="button">Crear experiencia</a>
  </div>
    <%- include('../HeaderYFooterGeneral/footer') %>
</body>
</html>

