<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Modificar Viaje</title>
</head>
<body>
     <%- include('../HeaderYFooterGeneral/header') %>
    <%
      function formatDateForInput(dateString) {
        const date = new Date(dateString);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        return `${year}-${month}-${day}T${hours}:${minutes}`;
      }
    %>


    <h1>Modificar viaje</h1>
    <form action="/admin/viajes/modificar/<%= viaje.id %>" method="POST">
        <label for="origen">Origen:</label><br>
        <input type="text" id="origen" name ="origen" value="<%= viaje.origen %>" required /> 

        <label for="destino">Destino:</label><br>
        <input type="text" id="destino" name="destino" value="<%= viaje.destino %>" required />

        <label for="fechaSalida">Fecha de Salida:</label><br>
        <input type="datetime-local" id="fechaSalida" name="fechaSalida" value="<%= viaje.fechaSalida ? formatDateForInput(viaje.fechaSalida) : '' %>" required />

        <label for="fechaLlegada">Fecha de Llegada:</label><br>
        <input type="datetime-local" id="fechaLlegada" name="fechaLlegada" value="<%= viaje.fechaLlegada ? formatDateForInput(viaje.fechaLlegada) : '' %>" required />


        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" min="0" value="<%= viaje.precio %>" required /> 

        <label for="imagen">URL/Nombre de Imagen:</label><br>
        <input type="text" id="imagen" name="imagen" value="<%= viaje.imagen %>" required /><br>

        <button type="submit" class="button">Modificar Viaje</button>
        <a href="/admin/dashboard" class="button cancel-button">Cancelar</a>
    </form>
    <%- include('../HeaderYFooterGeneral/footer') %>
</body>
</html>
